.boardContainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(5, minmax(0, 1fr));
  gap: 6px;
  height: 80vmin;
  width: 80vmin;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.gameContainer {
  width: 31%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  height: 2rem;
  justify-content: right;
  width: 100%;
  margin-bottom: 1em;
}

@media (max-width: 2300px) {
  .gameContainer {
    width: 35%;
  }
}
@media (max-width: 2100px) {
  .gameContainer {
    width: 37%;
  }
}
@media (max-width: 2000px) {
  .gameContainer {
    width: 40%;
  }
}
@media (max-width: 1200px) {
  .gameContainer {
    width: 43%;
  }
}
@media (max-width: 1760px) {
  .gameContainer {
    width: 46%;
  }
}
@media (max-width: 1660px) {
  .gameContainer {
    width: 49%;
  }
}
@media (max-width: 1560px) {
  .gameContainer {
    width: 52%;
  }
}
@media (max-width: 1360px) {
  .gameContainer {
    width: 60%;
  }
}
@media (max-width: 1200px) {
  .gameContainer {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .gameContainer {
    width: 76%;
  }
}
@media (max-width: 990px) {
  .gameContainer {
    width: 78%;
  }
}
@media (max-width: 768px) {
  .gameContainer {
    width: 80%;
  }
}
@media (max-width: 576px) {
  .gameContainer {
    width: 82%;
  }
}
@media (max-width: 480px) {
  .gameContainer {
    width: 82%;
  }
}
