.darkLayout {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 440px;
  height: 280px;
  z-index: 10;
  border: 7px solid #ff5500;
  border-radius: 18px;
  background-color: rgb(158, 42, 178);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5%;
  animation-name: fallDown;
  animation-duration: 2s;
  position: relative;
}

.modalContent {
  font-size: 32px;
  font-weight: 300;
  color: lightyellow;
  text-align: center;
  margin-bottom: 5%;
}

.h1 {
  margin-bottom: 0;
}
.p {
  margin-top: 0;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
  height: 20%;
  margin-bottom: 5%;
}

.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
@media (max-width: 920px) {
  .modal {
    width: 420px;
    height: 260px;
  }
}
@media (max-width: 760px) and (min-width: 431px) {
  .modal {
    width: 330px;
    height: 220px;
  }
  .h1 {
    font-size: 50px;
  }
  .p {
    font-size: 30px;
  }
}
@media (max-width: 430px) {
  .modal {
    width: 280px;
    height: 180px;
  }
  .h1 {
    font-size: 35px;
  }
  .p {
    font-size: 24px;
  }
}

@keyframes fallDown {
  from {
    top: -200px;
    background-color: orange;
  }
  to {
    top: 0px;
    background-color: rgb(158, 42, 178);
  }
}
