.appContainer {
  background: linear-gradient(350deg, orange 60%, rgb(158, 42, 178));
  font-family: "Lobster", cursive;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

.header {
  margin-top: 0;
  padding-top: 0;
  width: 100vw;
  height: 2em;
  border-bottom: solid 2px #ff5500;
  background-color: rgb(158, 42, 178);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff5500;
  font-size: 48px;
  font-family: "Orbitron", sans-serif;
}
